      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
    * {
        box-sizing: borderbox;
    }
    
    body {
        background-image: url(https://mcdn.wallpapersafari.com/medium/96/68/GSoeLW.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100vh;
        font-family: "Poppins", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
        overflow: hidden;
    }
    
    h1 {
        font-weight: normal;
        font-size: 60px;
        margin: -150px 0 40px;
        color: aliceblue;
    }
    
    .countdown {
        display: flex;
        transform: scale(2);
    }
    
    .time {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px 0 40px;
    }
    
    .time h2 {
        font-weight: bold;
        font-size: 30px;
        line-height: 1;
        margin: 0 0 0;
        color: aliceblue;
        align-items: center;
    }
    
    @media (max-width:600px) {
        h1 {
            font-size: 45px;
        }
        .time {
            margin: 80px 0 80px;
        }
        .time h2 {
            font-size: 12px;
        }
    }
